body {
  background-color: $main-background;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: $thin;
}

.body_single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.div_main {
  display: grid;
  grid-template-columns: 300px 1fr;
}
