// color code
$real-black: #000000;
$black: #121212;
$white: #ffffff;
$off-white: #e0e0e0;
$light-grey-1: #969696;
$light-grey-2: #727272;
$grey-1: #565656;
$grey-2: #484848;
$dark-grey-1: #323232;
$dark-grey-2: #242424;
$more-red: #c20000;
$red: #ff0000;
$blue: #3ea6ff;
$more-blue: #0078cb;

// component color
$main-red: #ff0000;
$point-blue: #3ea6ff;

$main-background: #242424;
$menu-background: #323232;
$off-white-background: #f5f5f5;

$line: #484848;
$line-highlight: #969696;

$btn-dark-grey: #323232;
$btn-dark-grey-highlight: #484848;
$btn-grey: #484848;
$btn-grey-highlight: #565656;
$btn-color-active: #ffffff;
$btn-color-inacitve: #969696;
