extends ../layouts/layoutSingle

block content
  .form_main
    .main_header
      h1.heading_main Change Password
    .contents_container
      form.form_area(action=routes.changePassword(user.id), method="POST")
        input(type="password", name="currentPassword", placeholder="Current Password", required)
        input(type="password", name="newPassword", placeholder="New Password", required)
        input(type="password", name="newPasswordConfirm", placeholder="Confirm New Password", required)
        button.btn_box.blue_long(type="submit") Save Changes