extends ../layouts/layout

block content
  .password_container
    .password_header
      p Change Password
    .form_section
      form.form_container(action="" method="")
        input(type="password", name="currentPassword", placeholder="Current Password", required)
        input(type="password", name="newPassword", placeholder="New Password", required)
        input(type="password", name="newPasswordConfirm", placeholder="Confirm New Password", required)
        input(type="submit", value="Save Changes")