extends ../layouts/layoutSingle

block content
  main.edit_video
    form(action="", method="")

      .main_header
        h1.heading_main Edit Video
        
      .edit_contents
        .file_section
          .sub_header
            h2.heading_sub About Video

          .file_player
            video
          .file_info
            .info_row
              .info_title Video link
              a.info_data.info_link(href="") http://.../videos/:videoId
            .info_row
              .info_title Created at
              .info_data 2021.01.01
            .info_row
              .info_title Views
              .info_data 10
            .info_row
              .info_title Comments
              .info_data 10
          
        .detail_section
          .detail_header
            h2.heading_sub Video Details

          .detail_contents
            .input_area
              label.input_label(for="title") Title
              input(type="text", id="title", name="title", placeholder="Add a title that describes your video", required)
            .input_area
              label.input_label(for="description") Description
              textarea(id="description", name="description", placeholder="Tell viewers about your video")

        .submit_btn    
          button.btn_box_blue(type="submit") SAVE
        