extends ../layouts/layout

block content
  .upload_video
    form(action="", method="")
      .edit_header
        .edit_column
          h1 Edit Video
        .edit_column
          button(type="submit") Save

      .edit_section
        .file_section
          .file_header
            h2 About Video
          .file_player
            video
          .file_info
            .info_row
              span Video link
              span http://.../videos/:videoId
            .info_row
              span Created at
              span 2021.01.01
            .info_row
              span Views
              span 10
            .info_row
              span Comments
              span 10
          
        .detail_section
          .detail_header
            h2 Video Details
          .detail_contents
            .detail_container
              label(for="title") Title
              input(type="text", id="title", name="title", placeholder="Add a title that describes your video", required)
            .detail_container
              label(for="description") Description
              textarea(id="description", name="description", placeholder="Tell viewers about your video")