extends ../layouts/layoutSingle

block content
  main.form_main
    .main_header
      h1.heading_main Edit Profile
    .contents_container
      form.form_area(action=routes.editProfile(user.id), method="POST", enctype="multipart/form-data")
        .input_file
          label.input_label(for="avatar") Avatar
          input(type="file", id="avatar", name="avatar", accept="image/*")
        input(type="text", name="username", placeholder="Username", value=user.username, required)
        input(type="text", name="email", placeholder="Email", value=user.email, required)
        button.btn_box.blue_long(type="submit") Save Changes
        button.btn_box.blue_long(type="button")
          a(href=routes.changePassword(user.id)) Change Password