extends ../layouts/layoutSingle

block content
  main.error_body
    .error_message
      a(href=routes.home)
        i(class="fab fa-youtube")
        span Nettube
      p=err.code
      p=err.message