extends ../layouts/layoutMain
include ../mixins/homeVideoBlock

block content
  div.div_main
    include ../partials/sidebar
    main.home
      section.main_video
        .video_player
          video(src='https://nettube.s3.ap-northeast-2.amazonaws.com/videos/1751ba46084ee7fd041c0fdcefacfcfa' autoplay muted)
        .video_player_cover
          h1.video_title Sintel
          p.video_description 
            | Sintel is an independently produced short film, initiated by the Blender Foundation as a means to further improve and validate the free/open source 3D creation suite Blender.
          button.btn_box.main_play
            a(href="/videos/603915bfc0b66b4544e72f51")
              i(class="fas fa-play")
              span Play

      section.main_contents
        .section_title
          h2.title_heading Key Features
        .section_videos
          a.video_block(href="/users/6038b9a0e4fe783664e57b8a")
            .video_thumbnail
              img(src="https://github.com/lexie-kaia/Nettube/blob/main/src/assets/imgs/channeldetail.PNG?raw=true")
            .video_info
              .info_column
                .info_avatar
              .info_column
                h3.info_title CRUD operations on video doucuments using Mongoose, MongoDB Atlas, AWS S3
                h4.info_creator channel detail 路 Feb 26, 2021
          a.video_block(href="/videos/6039169fc0b66b4544e72f54")
            .video_thumbnail
              img(src="https://github.com/lexie-kaia/Nettube/blob/main/src/assets/imgs/videodetail.PNG?raw=true")
            .video_info
              .info_column
                .info_avatar
              .info_column
                h3.info_title Using Axios on writing a video comment and updating the page instantly
                h4.info_creator video detail 路 Feb 26, 2021
          a.video_block(href=routes.signup)
            .video_thumbnail
              img(src="https://github.com/lexie-kaia/Nettube/blob/main/src/assets/imgs/signup.PNG?raw=true")
            .video_info
              .info_column
                .info_avatar
                  img(src="", alt="")
              .info_column
                h3.info_title Implementing social login with Passport.js - Facebook, GitHub
                h4.info_creator login 路 Feb 26, 2021
          a.video_block(href=routes.uploadVideo(true))
            .video_thumbnail
              img(src="https://github.com/lexie-kaia/Nettube/blob/main/src/assets/imgs/uploadvideo.PNG?raw=true")
            .video_info
              .info_column
                .info_avatar
                  img(src="", alt="")
              .info_column
                h3.info_title Custom video player on video detail page and video recorder on upload video page
                h4.info_creator upload video 路 Feb 26, 2021

      section.main_contents
        .section_title
          h2.title_heading Demo Videos
        .section_videos
          each video in videos
            +homeVideoBlock({
              id: video.id,
              videoFileUrl: video.videoFileUrl,
              title: video.title,
              views: video.views,
              createdAt: video.createdAt,
              creator: video.creator
            })


      