extends ../layouts/layoutSingle

block content
  main.form_main
    .main_header
      h1.heading_main Log in to Nettube
    .contents_container
      form.form_area(action=routes.login method="POST")
        input(type="text", name="email", placeholder="Email", required)
        input(type="password", name="password", placeholder="Password", required)
        button.btn_box.blue_long(type="submit")  Continue
    
      include ../partials/socialLogin
      .form_footer
        | New to Nettube? 
        a(href=routes.login) Create your Nettube account