extends ../layouts/layout

block content
  .account
    .profile_section
      .profile_row
        img.profile_avartar(src="")
        .profile_userName User Name
        .profile_email email@email.com
      .profile_row
        button(type="button")
          a(href="") Edit Profile
        button(type="button")
          a(href="") Change Password
        
    .contents_section
      .video_section
        .video_block
        a(href="")
          .video_thumbnail
            video(src="../../uploads/BicBuckBunny.mp4", controls)
          .video_info
            .info_row
              h4.info_title videotitle
            .info_row
              span 0 views
              span  · 
              span 2021.01.01