extends ../layouts/layoutSingle

block content
  main.account
    
    .profile_section
      .profile_row
        .profile_avatar
          img(src="", alt="")
        .profile_username User Name
        .profile_email email@email.com
      .profile_btns
        button.btn_box_blue_l(type="button")
          a(href="") Edit Profile
        button.btn_box_blue_l(type="button")
          a(href="") Change Password
        
    .videos_section
      a.video_block(href="")
        .video_thumbnail
          video(src="https://serranoarevalo.github.io/notflix/9bfd1023900e31286103369c803c7ee9.ogv" controls)
        .video_info
          h3.info_title videotitle
          .info_data
            span 0 views
            span  · 
            span 2021.01.01
      a.video_block(href="")
        .video_thumbnail
          video(src="https://serranoarevalo.github.io/notflix/9bfd1023900e31286103369c803c7ee9.ogv" controls)
        .video_info
          h3.info_title videotitle
          .info_data
            span 0 views
            span  · 
            span 2021.01.01
      a.video_block(href="")
        .video_thumbnail
          video(src="https://serranoarevalo.github.io/notflix/9bfd1023900e31286103369c803c7ee9.ogv" controls)
        .video_info
          h3.info_title videotitle
          .info_data
            span 0 views
            span  · 
            span 2021.01.01