extends ../layouts/layoutMain
include ../mixins/searchVideoBlock

block content
  div.div_main
    include ../partials/sidebar
    main.search
      section.search_section
        .section_title
          h2.title_heading #{search}
        
        .section_videos
          each video in videos
            +searchVideoBlock({
              id: video.id,
              videoFileUrl: video.videoFileUrl,
              title: video.title,
              description: video.description,
              views: video.views,
              createdAt: video.createdAt,
              creator: video.creator,
            })