extends ../layouts/layoutSingle

block content
  main.form_main
    .main_header
      h1.heading_main Create a new account
    .contents_container
      form.form_area(action="" method="")
        input(type="text", name="name",placeholder="Name", required)
        input(type="text", name="email",placeholder="Email", required)
        input(type="password", name="password",placeholder="Password", required)
        input(type="password", name="passwordConfirm",placeholder="Confirm Password", required)
        input(type="submit", value="Create Account")

      include ../partials/socialLogin
      .form_footer
        | Already have an account? 
        a(href=routes.login) Log in