extends ../layouts/layoutSingle

block content
  main.form_main
    .main_header
      h1.heading_main Create a new account
    .contents_container
      form.form_area(action=routes.signup method="POST")
        input(type="text", name="username",placeholder="Username", required)
        input(type="text", name="email",placeholder="Email", required)
        input(type="password", name="password",placeholder="Password", required)
        input(type="password", name="passwordConfirm",placeholder="Confirm Password", required)
        button.btn_box.blue_long(type="submit") Create Account

      include ../partials/socialLogin
      .form_footer
        | Already have an account? 
        a(href=routes.login) Log in