extends ../layouts/layoutSingle

block content
  main.upload_video
    form(action="", method="")

      .main_header
        h1.heading_main Upload Video

      .upload_contents
        .file_section  

          .upload_section
            .sub_header
              h2.heading_sub Select Files

            .input_file
              label.input_label(for="videoFile") Video file
              input(type="file", id="videoFile", name="videoFile", accept="video/*",  required)

          .record_section
            .sub_header
              h2.heading_sub Record Video
              p.text No video? Create your own video here.
            .record_area
              button.btn_record(type="button") Start Recording
              .record_player
                video
          
        .detail_section
          .detail_header
            h2.heading_sub Video Details

          .detail_contents
            .input_area
              label.input_label(for="title") Title
              input(type="text", id="title", name="title", placeholder="Add a title that describes your video", required)
            .input_area
              label.input_label(for="description") Description
              textarea(id="description", name="description", placeholder="Tell viewers about your video")
        
        .submit_btn    
          button.btn_box_blue(type="submit") SAVE
            