mixin homeVideoBlock(video={})
  a.video_block(href=routes.videoDetail(video.id))
    .video_thumbnail
      video(src=`/${video.videoFileUrl}` controls)
    .video_info
      .info_column
        .info_avatar
          img(src="", alt="")
      .info_column
        h3.info_title=video.title
        h4.info_creator=video.creator
        .info_data
          include ../partials/viewAndCreatedAt