.btn_none {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: $white;
  font-size: 24px;
  font-weight: $medium;
}

.btn_header {
  margin: 0 12px;
  background-color: transparent;
  color: $white;
  font-size: 16px;
  font-weight: $bold;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
  }
  &:hover {
    color: $light-grey-1;
  }
}

.btn_info_menu {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background-color: transparent;
  color: $light-grey-1;
  font-size: 16px;
  font-weight: $bold;
  i {
    margin-right: 4px;
    font-size: 20px;
  }
}

.btn_box {
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: $bold;
  transition: all 0.25s;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      margin-right: 8px;
    }
  }

  &.main_play {
    width: 120px;
    background-color: $white;
    color: $real-black;
    font-size: 18px;
    a {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &.blue_short {
    width: 110px;
    background-color: $point-blue;
    color: $white;
  }

  &.blue_point {
    width: 130px;
    background-color: $point-blue;
    color: $white;
  }

  // &.blue_long {
  //   width: 240px;
  //   background-color: $point-blue;
  //   color: $white;
  // }

  &.recording {
    width: 100%;
    background-color: $main-red;
    color: $white;
  }

  &.social {
    width: 130px;
    background-color: $off-white;
    color: $grey-1;
    &:first-child {
      margin-right: 12px;
    }
  }

  &.light_grey_long {
    width: 100%;
    background-color: $off-white;
    color: $grey-1;
  }
}

.btn_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  color: $off-white;
  border: 1px solid $off-white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: $medium;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
