.btn_none {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: $white;
  font-size: 24px;
  font-weight: $medium;
}

.btn_info_menu {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background-color: transparent;
  color: $light-grey-1;
  font-size: 16px;
  font-weight: $bold;
  i {
    margin-right: 4px;
    font-size: 20px;
  }
}

.btn_box {
  width: 120px;
  height: 40px;
  background-color: $white;
  color: $real-black;
  border-radius: 6px;
  font-size: 18px;
  font-weight: $bold;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      margin-right: 8px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

.btn_box_grey {
  width: 130px;
  height: 40px;
  background-color: $btn-grey;
  color: $btn-color-inacitve;
  border-radius: 4px;
  font-size: 16px;
  font-weight: $bold;
  transition: all 0.25s;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      margin-right: 8px;
    }
  }
  &:hover {
    background-color: $btn-grey-highlight;
    color: $dark-grey-2;
  }
}

.btn_box_blue {
  width: 100px;
  height: 40px;
  background-color: $point-blue;
  color: $white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: $bold;
  transition: all 0.25s;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      margin-right: 8px;
    }
  }
}

.btn_record {
  width: 100%;
  height: 40px;
  background-color: $main-red;
  color: $white;
  font-size: 16px;
  font-weight: $bold;
  transition: all 0.25s;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      margin-right: 8px;
    }
  }
}

.btn_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  color: $off-white;
  border: 1px solid $off-white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: $medium;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
