if video.createdAt.getMonth() === 0
  span Jan
else if video.createdAt.getMonth() === 1
  span Feb
else if video.createdAt.getMonth() === 2
  span Mar
else if video.createdAt.getMonth() === 3
  span Apr
else if video.createdAt.getMonth() === 4
  span May
else if video.createdAt.getMonth() === 5
  span Jun
else if video.createdAt.getMonth() === 6
  span Jul
else if video.createdAt.getMonth() === 7
  span Aug
else if video.createdAt.getMonth() === 8
  span Sep
else if video.createdAt.getMonth() === 9
  span Oct
else if video.createdAt.getMonth() === 10
  span Nov
else if video.createdAt.getMonth() === 11
  span Dec
span  #{video.createdAt.getDate()}, #{video.createdAt.getFullYear()}