footer.footer
  .footer-column
    span.footer__icon 
      i(class="fab fa-youtube")
    span.footer__text &copy Nettube #{new Date().getFullYear()}
  .footer-column
    span.footer__text terms
    span.footer__text policy