aside.sidebar 
  h1 Nettube
  h2 Youtube clone coding projects built with Node.js and MongoDB
  p 
    | This project focuses on learning the overall basic environment of web development from scratch using 
    strong vanilla JavaScript
    | .
  h3 Github
    a(href="https://github.com/lexie-kaia/Nettube") https://github.com/lexie-kaia/Nettube
  h3 Key Features
    ul
      li Development Environment
        ul
          li Node.js
          li VSCode with Babel, ESLint and Prettier
      li Front-end
        ul          
          li Pug
          li Sass
          li Webpack
      li Back-end
        ul
          li Express.js
          li MongoDB
      li Deploying
        ul
          li Server - Heroku
          li Database - MongoDB Atlas, AWS S3
      li Etc
        ul
          li Implementing social authentication with Passport.js
          li Using AJAX with fetch APIs and Axios

