aside.sidebar#jsSideBar
  div.rows
    span.labels Title
    h1.contents Nettube
  div.rows
    span.labels Description
    h2.contents Youtube clone coding projects built with Node.js and MongoDB
  div.rows
    span.labels Github
    h3.contents
      a(href="https://github.com/lexie-kaia/Nettube") https://github.com/lexie-kaia/Nettube
  div.rows
    ul
      li.labels_sub Development Environment
        ul
          li.lists Node.js
          li.lists VSCode
          li.lists Babel, ESLint and Prettier
          li.lists Webpack
      li.labels_sub Front-end
        ul          
          li.lists Pug
          li.lists Sass
      li.labels_sub Back-end
        ul
          li.lists Express.js
          li.lists MongoDB
      li.labels_sub Deployment
        ul
          li.lists Server - Heroku
          li.lists Database - MongoDB Atlas, AWS S3
      li.labels_sub Etc
        ul
          li.lists Passport.js
          li.lists Axios
  .rows
    span.labels &copy Nettube #{new Date().getFullYear()}

