.social_login
  .social_text or

  .social_btns
    button.btn_box.social.facebook      
      a(href=routes.facebook)
        i(class="fab fa-facebook")
        span Continue with Facebook
    button.btn_box.social.github     
      a(href=routes.github)
        i(class="fab fa-github")
        span Continue with Github
    //- button.btn_social.google
    //-   a(href="")
    //-     i(class="fab fa-google")
    //-     span Google
    
    
    
      