.socialLogin
  p or
  button.socialLogin_button.google
    a(href="")
      span
        i(class="fab fa-google")
        span | continue with Google
  button.socialLogin_button.facebook      
    a(href="")
      span
        i(class="fab fa-facebook")
        span | continue with Facebook
  button.socialLogin_button.github     
    a(href="")
      span
        i(class="fab fa-github")
        span | continue with Github
    
    
      