.social_login
  .social_text or continue with

  .social_btns
    button.btn_box.social.facebook      
      a(href="")
        i(class="fab fa-facebook")
        span Facebook
    button.btn_box.social.github     
      a(href="")
        i(class="fab fa-github")
        span Github
    //- button.btn_social.google
    //-   a(href="")
    //-     i(class="fab fa-google")
    //-     span Google
    
    
    
      