@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
.heading_main {
  line-height: 64px;
  color: #565656;
  font-size: 24px;
  font-weight: 700;
}

.heading_sub {
  line-height: 36px;
  color: #565656;
  font-size: 18px;
  font-weight: 700;
}

.input_label {
  display: block;
  margin-bottom: 8px;
  color: #969696;
  font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}
input:focus {
  border: none;
  outline: none;
}
input::-webkit-input-placeholder {
  font-weight: 300;
}
input::-moz-placeholder {
  font-weight: 300;
}
input:-ms-input-placeholder {
  font-weight: 300;
}
input::-ms-input-placeholder {
  font-weight: 300;
}
input::placeholder {
  font-weight: 300;
}

textarea {
  resize: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}
textarea:focus {
  outline: none;
}
textarea::-webkit-input-placeholder {
  font-weight: 300;
}
textarea::-moz-placeholder {
  font-weight: 300;
}
textarea:-ms-input-placeholder {
  font-weight: 300;
}
textarea::-ms-input-placeholder {
  font-weight: 300;
}
textarea::placeholder {
  font-weight: 300;
}

video:focus {
  outline: none;
}

body {
  background-color: #242424;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.body_single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.div_main {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.btn_none {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.btn_header {
  margin: 0 12px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.btn_header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
}
.btn_header:hover {
  color: #969696;
}

.btn_info_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  height: 24px;
  background-color: transparent;
  color: #969696;
  font-size: 16px;
  font-weight: 700;
}
.btn_info_menu i {
  margin-right: 4px;
  font-size: 20px;
}

.btn_box {
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.btn_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.btn_box a i {
  margin-right: 8px;
}
.btn_box.main_play {
  width: 120px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
}
.btn_box.main_play a:hover {
  opacity: 0.6;
}
.btn_box.blue_short {
  width: 110px;
  background-color: #3ea6ff;
  color: #ffffff;
}
.btn_box.blue_point {
  width: 130px;
  background-color: #3ea6ff;
  color: #ffffff;
}
.btn_box.blue_long {
  width: 240px;
  background-color: #3ea6ff;
  color: #ffffff;
}
.btn_box.recording {
  width: 100%;
  background-color: #ff0000;
  color: #ffffff;
}
.btn_box.social {
  width: 130px;
  background-color: #e0e0e0;
  color: #565656;
}
.btn_box.social:first-child {
  margin-right: 12px;
}
.btn_box.light_grey_long {
  width: 100%;
  background-color: #e0e0e0;
  color: #565656;
}

.btn_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
}
.btn_circle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.form_comments {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  gap: 24px;
}
.form_comments input[type=text] {
  height: 36px;
  background-color: transparent;
  border-bottom: 1px solid #969696;
  color: #ffffff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.form_comments input[type=text]:focus {
  border-bottom: 1px solid #121212;
}

.input_file {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
}

.input_area {
  padding: 12px;
  color: #121212;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}
.input_area input[type=text] {
  width: 100%;
  color: inherit;
}
.input_area input[type=text]::-webkit-input-placeholder {
  color: #969696;
  font-weight: 300;
}
.input_area input[type=text]::-moz-placeholder {
  color: #969696;
  font-weight: 300;
}
.input_area input[type=text]:-ms-input-placeholder {
  color: #969696;
  font-weight: 300;
}
.input_area input[type=text]::-ms-input-placeholder {
  color: #969696;
  font-weight: 300;
}
.input_area input[type=text]::placeholder {
  color: #969696;
  font-weight: 300;
}
.input_area textarea {
  width: 100%;
  height: 10em;
  color: inherit;
}
.input_area textarea::-webkit-input-placeholder {
  color: #969696;
}
.input_area textarea::-moz-placeholder {
  color: #969696;
}
.input_area textarea:-ms-input-placeholder {
  color: #969696;
}
.input_area textarea::-ms-input-placeholder {
  color: #969696;
}
.input_area textarea::placeholder {
  color: #969696;
}

.form_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}
.form_area input:not(input[type=file]) {
  display: block;
  margin-bottom: 20px;
  padding: 0 16px;
  height: 44px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.form_area input:not(input[type=file]):focus {
  border: 1px solid #3ea6ff;
}
.form_area input[type=submit] {
  margin-bottom: 0;
  background-color: #3ea6ff;
  color: #ffffff;
  border: none;
  font-weight: 700;
}
.form_area .input_file {
  margin-bottom: 20px;
  padding: 16px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  height: 56px;
  padding: 0 24px;
  background-color: #323232;
  -webkit-box-shadow: rgba(12, 12, 12, 0.2) 0px 8px 24px;
          box-shadow: rgba(12, 12, 12, 0.2) 0px 8px 24px;
}
.header .column_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
}
.header .column_logo .header_logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 18px;
  padding-top: 4px;
  font-size: 24px;
  font-weight: 700;
}
.header .column_logo .header_logo .logo_symbol {
  margin-right: 4px;
  color: #ff0000;
}
.header .column_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  width: 100%;
}
.header .column_search .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.header .column_search .search_form .header_search {
  padding: 0 12px;
  width: 100%;
  height: 30px;
  background-color: #121212;
  color: white;
  border: 1px solid #484848;
  font-weight: 700;
}
.header .column_search .search_form .header_search::-webkit-input-placeholder {
  color: #969696;
  font-weight: 500;
}
.header .column_search .search_form .header_search::-moz-placeholder {
  color: #969696;
  font-weight: 500;
}
.header .column_search .search_form .header_search:-ms-input-placeholder {
  color: #969696;
  font-weight: 500;
}
.header .column_search .search_form .header_search::-ms-input-placeholder {
  color: #969696;
  font-weight: 500;
}
.header .column_search .search_form .header_search::placeholder {
  color: #969696;
  font-weight: 500;
}
.header .column_search .search_form .header_search:focus {
  outline: none;
  border: 1px solid #3ea6ff;
}
.header .column_search .search_form .header_search_btn {
  width: 72px;
  height: 32px;
  background-color: #484848;
  color: #969696;
}
.header .column_search .search_form .header_search_btn:hover {
  color: #ffffff;
}
.header .column_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}
.header .column_menu .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: #242424;
  color: #969696;
  font-size: 14px;
}

.sidebar {
  width: 300px;
  background-color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.sidebar .rows {
  padding: 20px 24px;
  border-bottom: 1px solid #484848;
}
.sidebar .rows:first-child {
  background-color: #484848;
}
.sidebar .rows:last-child {
  margin-bottom: 0;
  border: none;
}
.sidebar .rows .labels {
  display: block;
  margin-bottom: 6px;
  color: #969696;
}
.sidebar .rows .contents {
  color: #e0e0e0;
  font-weight: 500;
}
.sidebar .rows .contents a:hover {
  color: #3ea6ff;
}
.sidebar .rows .labels_sub {
  display: block;
  margin-bottom: 10px;
  color: #969696;
}
.sidebar .rows .lists {
  margin-left: 24px;
  color: #e0e0e0;
  list-style-type: disc;
}
.sidebar .rows .lists:first-child {
  margin-top: 6px;
}

.social_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social_login .social_text {
  margin-bottom: 16px;
  color: #565656;
  font-size: 18px;
  font-weight: 500;
}

.main_video_player {
  position: relative;
  width: 100%;
}
.main_video_player video {
  width: 100%;
}
.main_video_player .player_controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
.main_video_player .player_controls.show {
  opacity: 1;
}
.main_video_player .player_controls .progress_bar_container {
  width: 100%;
  height: 5px;
  background-color: #969696;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}
.main_video_player .player_controls .progress_bar_container .progress_bar {
  width: 0;
  height: 100%;
  background-color: #ff0000;
}
.main_video_player .player_controls .progress_bar_container:hover {
  height: 10px;
}
.main_video_player .player_controls .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 0 18px;
  height: 48px;
}
.main_video_player .player_controls .btn_container .btns_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_video_player .player_controls .btn_container .btns_column:first-child .btn {
  margin-right: 12px;
}
.main_video_player .player_controls .btn_container .btns_column:last-child .btn {
  margin-left: 16px;
}
.main_video_player .player_controls .btn_container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.main_video_player .player_controls .btn_container .time {
  font-size: 16px;
}
.home .main_video {
  position: relative;
  width: 100%;
  height: 440px;
  overflow: hidden;
}
.home .main_video .video_player {
  max-width: 1800px;
  min-width: 1200px;
  width: 100%;
  height: 440px;
  margin: 0 auto;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}
.home .main_video .video_player video {
  width: 100%;
}
.home .main_video .video_player_cover {
  position: relative;
  top: -450px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 140px 0;
  height: 450px;
  background-color: rgba(12, 12, 12, 0.6);
}
.home .main_video .video_player_cover .video_title {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: 700;
}
.home .main_video .video_player_cover .video_description {
  margin-bottom: 20px;
  width: 560px;
  color: #e0e0e0;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.6;
}
.home .main_contents {
  padding: 16px 40px;
}
.home .main_contents .section_title {
  line-height: 64px;
}
.home .main_contents .section_title .title_heading {
  font-size: 24px;
  font-weight: 700;
}
.home .main_contents .section_videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.home .main_contents .section_videos .video_block {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.home .main_contents .section_videos .video_block:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: rgba(12, 12, 12, 0.2) 0px 8px 24px;
          box-shadow: rgba(12, 12, 12, 0.2) 0px 8px 24px;
}
.home .main_contents .section_videos .video_block .video_thumbnail video {
  width: 100%;
}
.home .main_contents .section_videos .video_block .video_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .main_contents .section_videos .video_block .video_info .info_avatar {
  margin: 8px 12px 8px 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3ea6ff;
}
.home .main_contents .section_videos .video_block .video_info .info_title {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 500;
}
.home .main_contents .section_videos .video_block .video_info .info_creator {
  margin-bottom: 4px;
  font-size: 15px;
  color: #969696;
}
.home .main_contents .section_videos .video_block .video_info .info_data {
  margin-bottom: 12px;
  font-size: 15px;
  color: #969696;
}

.search {
  padding: 16px 0 64px;
}
.search .search_section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.search .search_section .section_title {
  line-height: 64px;
  margin-bottom: 24px;
  color: #565656;
  border-bottom: 1px solid #565656;
}
.search .search_section .section_title .title_heading {
  font-size: 24px;
  font-weight: 700;
}
.search .search_section .section_videos {
  margin-bottom: 64px;
}
.search .search_section .section_videos .video_block {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 20px;
  margin-bottom: 18px;
}
.search .search_section .section_videos .video_block .video_thumbnail {
  width: 360px;
}
.search .search_section .section_videos .video_block .video_thumbnail video {
  width: 100%;
}
.search .search_section .section_videos .video_block .video_info .info_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}
.search .search_section .section_videos .video_block .video_info .info_data {
  margin-bottom: 12px;
  font-size: 18px;
  color: #969696;
}
.search .search_section .section_videos .video_block .video_info .info_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.search .search_section .section_videos .video_block .video_info .info_profile .info_avartar {
  margin-right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3ea6ff;
}
.search .search_section .section_videos .video_block .video_info .info_profile .info_creator {
  font-size: 18px;
  color: #969696;
}
.search .search_section .section_videos .video_block .video_info .info_description {
  max-width: 716px;
  width: 100%;
  color: #969696;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search .search_section video {
  width: 300px;
}

.video_detail {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 32px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.video_detail .video_section .info .info_title {
  margin: 24px 0;
}
.video_detail .video_section .info .info_title .info_heading {
  font-size: 24px;
  font-weight: 500;
}
.video_detail .video_section .info .info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  color: #969696;
  border-bottom: 1px solid #484848;
  font-size: 16px;
  font-weight: 400;
}
.video_detail .video_section .info .info_row .info_column {
  line-height: 24px;
}
.video_detail .video_section .info .info_row .info_btns {
  padding-right: 8px;
}
.video_detail .video_section .info .info_row .info_btns .btn_info_menu {
  margin-left: 8px;
}
.video_detail .video_section .info .channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.video_detail .video_section .info .channel .channel_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video_detail .video_section .info .channel .channel_profile .channel_avatar {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #3ea6ff;
}
.video_detail .video_section .info .channel .channel_profile .channel_info .channel_creator {
  margin-bottom: 4px;
}
.video_detail .video_section .info .channel .channel_profile .channel_info .channel_subscribers {
  color: #969696;
  font-size: 14px;
  font-weight: 400;
}
.video_detail .video_section .info .description {
  padding: 24px 0;
  border-bottom: 1px solid #484848;
}
.video_detail .video_section .comments .comments_header {
  margin: 24px 0;
  font-size: 18px;
  font-weight: 500;
}
.video_detail .video_section .comments .comments_form {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 16px;
  margin-bottom: 36px;
}
.video_detail .video_section .comments .comments_form .comments_avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3ea6ff;
  overflow: hidden;
}
.video_detail .video_section .comments .comments_form .comments_avatar img {
  width: 100%;
}
.video_detail .video_section .comments .comments_contents .comments_block {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 16px;
  margin-bottom: 36px;
}
.video_detail .video_section .comments .comments_contents .comments_block .comments_avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #565656;
}
.video_detail .video_section .comments .comments_contents .comments_block .comments_info {
  margin-bottom: 8px;
}
.video_detail .video_section .comments .comments_contents .comments_block .comments_info .comments_createat {
  margin-left: 12px;
  color: #969696;
  font-size: 14px;
}
.video_detail .related_section .video_block {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 12px;
  margin-bottom: 12px;
}
.video_detail .related_section .video_block .video_thumbnail {
  width: 100%;
}
.video_detail .related_section .video_block .video_thumbnail video {
  width: 100%;
}
.video_detail .related_section .video_block .video_info .info_title {
  margin-top: 4px;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 500;
}
.video_detail .related_section .video_block .video_info .info_creator {
  margin-bottom: 4px;
  font-size: 15px;
  color: #969696;
}
.video_detail .related_section .video_block .video_info .info_data {
  margin-bottom: 12px;
  font-size: 15px;
  color: #969696;
}

.upload_video {
  width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #121212;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: #0c0c0c 0px 8px 24px;
          box-shadow: #0c0c0c 0px 8px 24px;
}
.upload_video .main_header {
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}
.upload_video .upload_contents {
  position: relative;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 24px;
  padding: 24px 48px 48px;
}
.upload_video .upload_contents .file_section .upload_section {
  margin-bottom: 24px;
}
.upload_video .upload_contents .file_section .upload_section .sub_header {
  margin-bottom: 8px;
}
.upload_video .upload_contents .file_section .record_section .sub_header {
  margin-bottom: 16px;
}
.upload_video .upload_contents .file_section .record_section .record_area {
  border-radius: 8px;
  overflow: hidden;
}
.upload_video .upload_contents .file_section .record_section .record_area .record_player {
  width: 320px;
  height: 180px;
  background-color: #323232;
}
.upload_video .upload_contents .file_section .record_section .record_area .record_player video {
  width: 100%;
}
.upload_video .upload_contents .detail_section .detail_header {
  margin-bottom: 8px;
}
.upload_video .upload_contents .detail_section .input_area:first-child {
  margin-bottom: 16px;
}
.upload_video .upload_contents .submit_btn {
  position: absolute;
  bottom: 48px;
  right: 48px;
}

.edit_video {
  width: 1080px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #121212;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: #0c0c0c 0px 8px 24px;
          box-shadow: #0c0c0c 0px 8px 24px;
}
.edit_video .main_header {
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}
.edit_video .edit_contents {
  position: relative;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 24px;
  padding: 24px 48px 48px;
}
.edit_video .edit_contents .file_player {
  width: 320px;
  height: 180px;
  background-color: #323232;
}
.edit_video .edit_contents .file_player video {
  width: 100%;
  margin: auto 0;
}
.edit_video .edit_contents .file_info {
  margin-top: 24px;
  padding: 16px 12px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}
.edit_video .edit_contents .file_info .info_row {
  margin-bottom: 16px;
}
.edit_video .edit_contents .file_info .info_row:last-child {
  margin-bottom: 0;
}
.edit_video .edit_contents .file_info .info_title {
  margin-bottom: 8px;
  color: #969696;
}
.edit_video .edit_contents .file_info .info_data {
  font-weight: 400;
  color: #565656;
}
.edit_video .edit_contents .file_info .info_link {
  word-break: break-all;
  word-wrap: normal;
}
.edit_video .edit_contents .file_info .info_link:hover {
  color: #3ea6ff;
}
.edit_video .detail_section .detail_header {
  margin-bottom: 8px;
}
.edit_video .detail_section .input_area:first-child {
  margin-bottom: 16px;
}
.edit_video .submit_btn {
  position: absolute;
  bottom: 48px;
  right: 48px;
}

.form_main {
  margin: 0 auto;
  background-color: #ffffff;
  color: #121212;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: #0c0c0c 0px 8px 24px;
          box-shadow: #0c0c0c 0px 8px 24px;
}
.form_main .main_header {
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}
.form_main .contents_container {
  padding: 40px 48px 28px;
}
.form_main .form_footer {
  margin-top: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.form_main .form_footer a {
  color: #3ea6ff;
  font-weight: 400;
}

.account {
  display: grid;
  grid-template-columns: 496px 1fr;
  gap: 48px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.account .profile_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  background-color: #ffffff;
  color: #121212;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: #0c0c0c 0px 8px 24px;
          box-shadow: #0c0c0c 0px 8px 24px;
}
.account .profile_section .profile_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account .profile_section .profile_row .profile_avatar {
  margin-bottom: 16px;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: #3ea6ff;
  overflow: hidden;
}
.account .profile_section .profile_row .profile_avatar img {
  width: 100%;
}
.account .profile_section .profile_row .profile_username {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}
.account .profile_section .profile_row .profile_email {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
.account .profile_section .profile_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.account .profile_section .profile_btns .btn_box.blue_long:first-child {
  margin-bottom: 12px;
}
.account .videos_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.account .videos_section .video_block .video_thumbnail {
  width: 100%;
}
.account .videos_section .video_block .video_thumbnail video {
  width: 100%;
}
.account .videos_section .video_block .video_info .info_title {
  margin: 12px 0 6px;
}
.account .videos_section .video_block .video_info .info_data {
  color: #969696;
  font-size: 14px;
}

.error_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error_body .error_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error_body .error_message a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}
.error_body .error_message p {
  margin: 4px;
  font-size: 24px;
  text-align: center;
}
